.container {
    margin: 20px;
    /* width: 100% !important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-Items: center;
}

.geassImage {
    margin: auto;
    width: 40%;
    max-width: 200px;
    filter: invert(97%) sepia(40%) saturate(2%) hue-rotate(258deg) brightness(114%) contrast(100%);
    z-index: 2;
}

.searchBackground {
    font-size: 100px;
    color: var(--backgroundGrey);
    outline-color: white;
    -webkit-text-stroke-width: .28px;
    -webkit-text-stroke-color: white;
    /* z-index: 1;
    right: 60%;
    top:10%;
    position: absolute; */
}

.searchContainer{
    display: flex;
    flex-direction: row;
}
.searchContent{
    align-items: center;
    justify-content: center;
    width: 80%;

}
.searchInput{
    height: 50px;
    width: 100%;
    font-weight: 400;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border: none !important;
}
.button{
    width: 50px;
    background-color: transparent !important;
    color: white !important;
    border: none;
    margin-left: 10px;
}
.searchButton{
    height: 100%;
    width: 100%;
    display: flex;
}
.linkContainer {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-Items: center;
}

.link {
    color: var(--iconColorPink);
    margin: 10px;
    text-decoration: none;

}

.link:hover {
    color: white;
}