.carouselContainer {
  /* max-width: 100% !important; */
  visibility: visible !important;
  /* width: 100% !important; */
  margin: 30px;
  z-index: 5;
}

@media screen and (max-width: 600px) {
  .carouselContainer {
    margin: 5px;
  }
}

.columnModal {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  align-items: center;
  justify-content: center;
}
.columnModal button {
  background-color: #a5965c !important;
  color: #171921 !important;
  width: 200px !important;
  margin-top: 10px;
}
.columnModal button:nth-child(4) {
  background-color: rgb(252, 14, 14) !important;
  color: white !important;
  width: 200px !important;
  margin-top: 10px;
}

.addTo {
  margin: 0px 0px 2px 0px;
}
.title {
  margin: 0px 0px 1.5rem 0px;
  color: grey;
  text-align: center;
  font-size: medium;
}

.closeButton {
  color: red !important;
  background-color: red !important;
}
