.container {
  margin: 0 auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  /* width: 100%; */
}
.listWrap:nth-child(2) {
  margin-top: 70px;
}
.listWrap:nth-child(3) {
  margin-top: 70px;
}

.listSection {
  padding: 20px;
  display: flex !important;
  flex-direction: row;
  background-color: var(--secondaryGrey);
  align-items: center;
  border-radius: 10px;
}
.rowHeader {
  display: flex;
  flex-direction: row;
}

.rowHeader > div {
  flex: 1;
  /* background-color: green; */
  padding: 12px;
}
.rowHeader > div:nth-child(2) {
  /* background-color: green; */
  flex: 9;
}
.rowHeader > div:nth-child(3) {
  width: fit-content;
}

.cover {
  display: block;
  max-width: 60px;
  padding: 0;
  min-width: 60px;
}
.listSection > img {
  flex: 1;
  max-width: 60px;
  min-width: 60px;
}
.listSection h3 {
  flex: 9;
  margin: 0;
  margin-left: 20px;
}
.listSection button {
  background-color: var(--secondaryGrey);
  flex: 2 !important;
  padding: 10px;
  max-width: 100px;
  margin-left: 5px;
  color: white;
  opacity: 1 !important;
}
.listSection:hover {
  opacity: 0.7;
  transition: all 0.4s;
}

.listSection:hover :not(button) {
  opacity: 1;
}

.roundBorder {
  background-color: var(--secondaryGrey);
  border-radius: 10px;
}

@media (max-width: 938px) {
  .rowHeader > div:nth-child(2) {
    /* background-color: green; */
    flex-shrink: 1;
  }
}
