.buttonContainer {
  display: flex;
  justify-content: center;
}

.loginForm {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listContainer {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.rowWrapper{
  display: flex;
  flex-direction: row;
  background-color: grey;
}

.pictureContainer{
  display: flex;
  flex: 1;
}

.formContainer{
  display: flex;
  flex:1;
}