.backButton {
  position: fixed !important;
  top: 0 !important;
  margin: 10px !important;
  background-color: #2c2f3d96 !important;
}
.backButton:hover {
  background-color: #2c2f3d !important;
}
.buttonColor {
  color: #a5965c !important;
}

.container {
  display: flex;
  height: 93vh;
  width: 100%;
}
/* Define the keyframes for the animation */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.backgroundAnime {
  filter: blur(20px);
  opacity: 0.35;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middleContainer {
  animation-name: fadeOut;
  animation-duration: 1s;
  padding: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.description {
  margin: 16px;
  width: 80%;
  height: fit-content;
}
.descriptionCol {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.rowHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.dot {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.genreTitle::before {
  content: "•";
  margin-right: 10px;
  color: white;
}
.genreTitle {
  margin: 10px;
  color: grey;
}

.rowMiddle {
  height: 60%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.middleImage {
  border-radius: 10px;
  height: 100%;
  /* max-width: 900px; */
}
.descriptionTitle {
  width: fit-content;
  margin: 16px;
}

.otherInfomation {
  align-items: center;
  display: flex;
  flex-direction: row;
  /* margin: 16px; */
  width: 80%;
  height: fit-content;
  width: fit-content;
}
.otherInfomation p {
  background: rgba(255, 255, 255, 0.1);
  margin: 16px;
  padding: 10px;
  border-radius: 10px;
}
.otherInfomation p span {
  color: rgba(255, 255, 255, 0.521);
}
@media only screen and (max-width: 969px) {
  .description {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  .rowMiddle {
    flex-wrap: wrap;
  }
  .middleImage {
    margin: auto;
  }
  .descriptionTitle {
    margin: 20px 0px 0px 0px;
  }
}
@media only screen and (max-width: 600px) {
 .middleContainer{
  padding: 10px;
 }
 h1{
  font-size: 20px;
 }
}
