.ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #3532356b; */
    
}

.container {
    display: flex;
    height: 100px;
    width: 50px;
    background-color: green;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #111;
}
